.calendar{
    width: 500px;
}
.calendarHeader{
    position: relative;
    height: 50px;
    background-color: rgb(66, 66, 177);
    color: white;
    text-align: center;
    line-height: 50px;
}
.calendarHeaderTitle{
    margin: 0;
}
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    height: 30px;
    line-height: 30px;
}

.leftButton{
    left: 0;
    position: absolute;
    top: 30%;
    color: white;
    background: none;
    font-weight: bold;
    border: none;
    font-size: 20px;
}
.rightButton{
    right: 0;
    position: absolute;
    top: 30%;
    color: white;
    background: none;
    font-weight: bold;
    border: none;
    font-size: 20px;
}
.leftButton:focus, .rightButton:focus{
    outline: none;
}
.leftButton:hover, .rightButton:hover{
    color: rgb(209, 209, 209);
}
.days li:hover {
    background-color: rgb(194, 194, 194);
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.active{
    background-color: rgb(66, 66, 177);
    border-radius: 5px;
    color: white;
}