.carouselContainer{
    position: relative;
}
.carouselImage{
    width: 100%;
    height: 100%;
}
.carousel-small{
    width: 300px;
}
.carousel-medium{
    width: 500px;
}
.carousel-large{
    width: 800px;
}
.carouselButtonLeft{
    position: absolute;
    top: 40%;
    font-size: 40px;
    color: white;
    background: transparent;
    border: none;
}
.carouselButtonRight{
    position: absolute;
    right: 0;
    top: 40%;
    font-size: 40px;
    color: white;
    background: transparent;
    border: none;
}