.spinnerContainer{
    height: 200px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s;
    transform-origin: center;
}
.spin{
    transform: rotate(360deg);
}